{% extends 'base.html' %}
{% block title %} CMS - Add User {% endblock %}
{% load static from staticfiles%}
{% block content %}

<div class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="center image">
          <img src="{% static 'dist/img/user.png' %}" class="img-circle" alt="User Image">
        </div>
        <div class="info">
          <h3>Muhammad Alif Fauzan</h3>
          <h5>Universitas Indonesia</h5>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a href="{% url 'listTopic' %}">
            <i class="fa fa-info-circle"></i>
            <span>Topic Management</span>
          </a>
        </li>
        <li>
          <a href="{% url 'index' %}">
            <i class="fa fa-comments"></i>
            <span>Social Media Crawler</span>
          </a>
        </li>
        <li>
          <a href="{% url 'listToken' %}">
            <i class="fa fa-ticket"></i>
            <span>Token Management</span>
          </a>
        </li>
        <li>
          <a href="{% url 'listNews' %}">
            <i class="fa fa-newspaper-o"></i>
            <span>Online News Crawler</span>
          </a>
        </li>
        <li class="active">
          <a href="{% url 'listUser' %}">
            <i class="fa fa-users"></i>
            <span>User Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Add User</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Add User</h1>
    </section>

    <br>
    <br></br>

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <form id="form" method="POST" action="">
              {% csrf_token %}
              {% for addUser in form %}
              <div class="row">
                  <div class="col-sm-12">
                      {{ addUser.label_tag }} <br> {{ addUser }}
                  </div>
              </div>
              {% endfor %}
              <br>
              <button type="submit" class="btn btn-success width">Simpan</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>

{% endblock %}
