{% extends 'base.html' %}
{% block title %} CMS - Edit Token {% endblock %}
{% load static from staticfiles%}
{% block content %}

<div class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="center image">
          <img src="{% static 'dist/img/user.png' %}" class="img-circle" alt="User Image">
        </div>
        <div class="info">
          <h3>Muhammad Alif Fauzan</h3>
          <h5>Universitas Indonesia</h5>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a href="{% url 'listTopic' %}">
            <i class="fa fa-info-circle"></i>
            <span>Topic Management</span>
          </a>
        </li>
        <li>
          <a href="{% url 'index' %}">
            <i class="fa fa-comments"></i>
            <span>Social Media Crawler</span>
          </a>
        </li>
        <li  class="active">
          <a href="{% url 'listToken' %}">
            <i class="fa fa-ticket"></i>
            <span>Token Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Edit Token</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'listNews' %}">
            <i class="fa fa-newspaper-o"></i>
            <span>Online News Crawler</span>
          </a>
        </li>
        <li>
          <a href="{% url 'listUser' %}">
            <i class="fa fa-users"></i>
            <span>User Management</span>
          </a>
        </li>
        <li>
        <a href="{% url 'template' %}">
            <i class="fa fa-file-code-o"></i>
            <span>Template Management</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Edit Token</h1>
    </section>

    <br>
    <br></br>

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <form method="POST">
              {% csrf_token %}
              <label>Token Name:</label> </br> <input type="text" class="form-control" name="tokenName" placeholder="token name" value="{{  token.token_name }}" required>
              <label>Consumer Key:</label> </br> <input type="text" class="form-control" name="consumerKey" placeholder="consumer key" value="{{  token.consumer_key }}" required>
              <label>Consumer Secret:</label> </br> <input type="text" class="form-control" name="consumerSecret" placeholder="consumer secret" value="{{  token.consumer_secret }}" required>
              <label>Access Key:</label> </br> <input type="text" class="form-control" name="accessKey" placeholder="access key" value="{{  token.access_key }}" required>
              <label>Access Secret:</label> </br> <input type="text" class="form-control" name="accessSecret" placeholder="access secret" value="{{  token.access_secret }}" required>
              <br>
              <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                  <a href="" data-toggle="modal" data-target="#modal{{ token.id }}"><button type="button" class="btn btn-danger">Delete</button></a>
                  <!-- modal -->
                  <div class="modal fade" id="modal{{ token.id }}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title"><i class="fa fa-warning text-red"></i> Delete Token</h4>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure want to delete token "{{ token.token_name }}"? All of the following related items will be deleted.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                          <a href="{% url 'deleteToken' id=token.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

                  <button type="submit" class="btn btn-success pull-right">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>

{% endblock %}
